<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
	<display-name>DMSVirtualization</display-name>
	<context-param>
		<param-name>dbUrlWindows</param-name>
		<param-value>jdbc:sqlite:C:/DMSV/sqlite-tools-win32-x86-3240000/DMSV.db</param-value>
	</context-param>
	<context-param>
		<param-name>dbclass</param-name>
		<param-value>org.sqlite.JDBC</param-value> <!-- org.postgresql.Driver -->
	</context-param>
	<context-param>
		<param-name>logdirrequest</param-name>
		<param-value>C:\DMSV\SVRequestResponseLogs\Requests</param-value>
	</context-param>
	<context-param>
		<param-name>logdirresponse</param-name>
		<param-value>C:\DMSV\SVRequestResponseLogs\Responses</param-value>
	</context-param>
	<context-param>
		<param-name>logdirschema</param-name>
		<param-value>C:\DMSV\SVRequestResponseLogs\SchemaValidation</param-value>
	</context-param>
	<context-param>
		<param-name>logdirposthttp</param-name>
		<param-value>C:\DMSV\SVRequestResponseLogs\PostHttp</param-value>
	</context-param>
	<context-param>
		<param-name>svtempdir</param-name>
		<param-value>C:\DMSV\svtempdir</param-value>
	</context-param>

	<context-param>
		<param-name>weblogdirrequest</param-name>
		<param-value>C:\DMSV\SVRequestResponseLogs\WebRequests</param-value>
	</context-param>
	<context-param>
		<param-name>weblogdirresponse</param-name>
		<param-value>C:\DMSV\SVRequestResponseLogs\WebResponses</param-value>
	</context-param>
	<context-param>
		<param-name>weblogdirschema</param-name>
		<param-value>C:\DMSV\SVRequestResponseLogs\WebSchemaValidation</param-value>
	</context-param>
	<context-param>
		<param-name>weblogdirposthttp</param-name>
		<param-value>C:\DMSV\SVRequestResponseLogs\WebPostHttp</param-value>
	</context-param>
	<context-param>
		<param-name>tempdatagendir</param-name>
		<param-value>C:\DMSV\tempdatagendir</param-value>
	</context-param>
	<context-param>
		<param-name>websvtempdir</param-name>
		<param-value>C:\DMSV\websvtempdir</param-value>
	</context-param>


	<context-param>
		<param-name>dbUrlUnix</param-name>
		<param-value>jdbc:sqlite:/dmsv/sqlite/DMSV.db</param-value>
	</context-param>

	<listener>
		<listener-class>sv.initialize.ContextListener</listener-class>
	</listener>


	<servlet>
		<servlet-name>datagenerator</servlet-name>
		<display-name>datagenerator</display-name>
		<description></description>
		<servlet-class>sv.servlets.DataGenerator</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>apiclient</servlet-name>
		<display-name>apiclient</display-name>
		<description></description>
		<servlet-class>sv.servlets.web.ApiClient</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>gvf</servlet-name>
		<display-name>gvf</display-name>
		<description></description>
		<servlet-class>sv.servlets.VirtualFileParameterData</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>sqlitedataloader</servlet-name>
		<display-name>sqlitedataloader</display-name>
		<description></description>
		<servlet-class>sv.servlets.SQLiteDataLoader</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>templatestore</servlet-name>
		<display-name>templatestore</display-name>
		<description></description>
		<servlet-class>sv.servlets.TemplateStore</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>echo</servlet-name>
		<display-name>echo</display-name>
		<description></description>
		<servlet-class>sv.servlets.DMSVEcho</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>oauthcreds</servlet-name>
		<display-name>oauthcreds</display-name>
		<description></description>
		<servlet-class>sv.servlets.OauthSetter</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>logsettings</servlet-name>
		<display-name>logsettings</display-name>
		<description></description>
		<servlet-class>sv.servlets.LogSettings</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>apicallregister</servlet-name>
		<display-name>apicallregister</display-name>
		<description></description>
		<servlet-class>sv.servlets.APICallRegister</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>kafkacallregister</servlet-name>
		<display-name>kafkacallregister</display-name>
		<description></description>
		<servlet-class>sv.servlets.KafkaCallRegister</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>templateinjectormap</servlet-name>
		<display-name>templateinjectormap</display-name>
		<description></description>
		<servlet-class>sv.servlets.TemplateInjectorMap</servlet-class>
	</servlet>


	<servlet>
		<servlet-name>webserviceregister</servlet-name>
		<display-name>webserviceregister</display-name>
		<description></description>
		<servlet-class>sv.servlets.web.WebSVRegister</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>genericws</servlet-name>
		<display-name>genericws</display-name>
		<description></description>
		<servlet-class>sv.servlets.web.GenericWS</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>filtervalue</servlet-name>
		<display-name>filtervalue</display-name>
		<description></description>
		<servlet-class>sv.servlets.kafka.FilterValue</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>throttle</servlet-name>
		<display-name>throttle</display-name>
		<description></description>
		<servlet-class>sv.servlets.kafka.Throttle</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>waitrelease</servlet-name>
		<display-name>waitrelease</display-name>
		<description></description>
		<servlet-class>sv.servlets.kafka.WaitRelease</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>waitreleaseweb</servlet-name>
		<display-name>waitreleaseweb</display-name>
		<description></description>
		<servlet-class>sv.servlets.web.WaitRelease</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>kafkasvregister</servlet-name>
		<display-name>kafkasvregister</display-name>
		<description></description>
		<servlet-class>sv.servlets.kafka.KafkaSVRegister</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>kafkalistener</servlet-name>
		<display-name>kafkalistener</display-name>
		<description></description>
		<servlet-class>sv.servlets.kafka.KafkaListenerRegister</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>templateinjectormap</servlet-name>
		<url-pattern>/templateinjectormap</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>apiclient</servlet-name>
		<url-pattern>/apiclient</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>webserviceregister</servlet-name>
		<url-pattern>/webserviceregister</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>genericws</servlet-name>
		<url-pattern>/ws/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>templatestore</servlet-name>
		<url-pattern>/templatestore</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>kafkasvregister</servlet-name>
		<url-pattern>/kafkasvregister</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>datagenerator</servlet-name>
		<url-pattern>/datagenerator</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>logsettings</servlet-name>
		<url-pattern>/logsettings</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>gvf</servlet-name>
		<url-pattern>/gvf</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>kafkalistener</servlet-name>
		<url-pattern>/kafkalistener</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>sqlitedataloader</servlet-name>
		<url-pattern>/sqlitedataloader</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>echo</servlet-name>
		<url-pattern>/echo</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>filtervalue</servlet-name>
		<url-pattern>/filtervalue</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>throttle</servlet-name>
		<url-pattern>/throttle</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>waitrelease</servlet-name>
		<url-pattern>/waitrelease</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>waitreleaseweb</servlet-name>
		<url-pattern>/waitreleaseweb</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>oauthcreds</servlet-name>
		<url-pattern>/oauthcreds</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>apicallregister</servlet-name>
		<url-pattern>/apicallregister</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>kafkacallregister</servlet-name>
		<url-pattern>/kafkacallregister</url-pattern>
	</servlet-mapping>


</web-app>
